.menu {
    color: aliceblue;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.logo-page {
    position: absolute;
    left: 2rem;
    top: 1rem;
    width: 15vw;
    height: 6vh;
}

@media (min-width: 320px) and (max-width: 480px) {
    .logo-page {
        left: 14rem;
        top: 5rem;
        width: 220vw;
        height: 26vh;
    }
    .ocultar-in-mobile {
        display: none;
    }
    .mostrar-in-mobile {
        font-size: 6rem;
        left: 69rem;
        top: 4rem;
        color: white;
    }
}

@media (min-width: 411px) and (max-width: 480px) {
    .mostrar-in-mobile {
        font-size: 6rem;
        left: 80rem !important;
        top: 4rem;
        color: white;
    }
}