.hr-white {
    border-top: 1px solid rgba(255, 255, 255, .8) !important;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 3rem;
    width: 100%;
    background-color: transparent;
}

li {
    display: block;
    color: white;
    padding: 8rem 16px;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .text-mobile {
        font-size: 5rem;
    }
}