<div class="w-100 h-100 text-mobile">
    <div class="row">
        <div class="col-12 d-vertical">
            <img src="/assets/logo.png" class="img-fluid" />
        </div>
        <hr class="hr-white">
        <div class="col-12">
            <ul>
                <li (click)="navegar('inicio')">Inicio</li>
                <li (click)="navegar('servicios')">Servicios</li>
                <li (click)="navegar('nosotros')">Nosotros</li>
                <li (click)="navegar('vision&mision')">Visión & Misión</li>
                <li (click)="navegar('contacto')">Contacto</li>
            </ul>
        </div>
    </div>
</div>