/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
}

.color-text-titulo {
    color: #226089 !important;
    font-weight: bolder!important;
}

.color-text-nav {
    color: #f6f5f5 !important;
    font-weight: 700!important;
}

.color-text-terciary {
    color: #305f72 !important;
}